{% extends 'layouts/base.html'%}

{% block body %}
<section class="container bg-white mx-auto m-3 p-3 rounded-2">
<div class="container bg-white m-3 p-3 rounded-2 mx-auto">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title"> Blacklisted Driver List <span class="text-muted fw-normal ms-2">({{citizens.count}})</span></h5>
            </div>
        </div>
        <div class="col-md-6">
            
            <div class="mb-3 d-flex justify-content-end">
                <a href="{% url 'home' %}" class="btn btn-md btn-primary">Back</a>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                
                                <th scope="col">Name</th>
                                <th scope="col">ID Type</th>
                                <th scope="col">ID Number</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Action</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for citizen in citizens %}
                            
                            <tr>
                           
                                <td>{{ citizen }}</td>
                                <td> {{ citizen.id_type }}</td>
                                <td>{{ citizen.id_number}}</td>
                                <td>{{ citizen.blacklist_reason }}</td>
                                <td><a class="btn btn-sm bg-light" href="{% url 'citizen-detail' citizen.pk %}">Details</a></td>
                                
                            </tr>
                          
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
</section>
{% endblock %}