{% extends 'layouts/base.html'%}

{% block body %}


<section class="container bg-white mx-auto m-3 p-3 rounded-2">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-md-12 p-3">
                <div class="mb-3 d-flex justify-content-end">
                    <a href="{% url 'citizen-list' %}" class="btn btn-md btn-primary">Back</a>
                </div>
            </div>
            
            <div class="title">Driver Details</div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center my-2">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                {% if citizen.picture.url %}
                                    <img width=360 height=320 src="{{ citizen.picture.url }}" alt="Citizen Image">
                                {% else %}
                                    <!-- Add a default image or alternative content when no image is present -->
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Default Image">
                                {% endif %}
                            </div>
                            
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded my-1">
                                    <h3 class="h2 text-white mb-0 px-2 mx-2 py-2 mx-2">{{ citizen }}</h3>
                                    
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">ID Type:</span> {{ citizen.id_type }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">ID Number:</span> {{ citizen.id_number }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Is Blacklisted:</span> {{ citizen.is_blacklisted }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Number Of Incidents:</span> {{ citizen.incidents.count}} </li>
                                    {% if citizen.is_blacklisted %}<li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Blacklist Reason:</span> {{ citizen.blacklist_reason}} </li>{% endif %}

                                </ul>

                                <a href="{% url 'generate_incident_report' citizen.pk %}" class="button btn-md text-white bg-dark mb-0 px-2 mx-2 py-2 mx-2 rounded-2">
                                    Generate Report
                                </a>
                                {% if not citizen.is_blacklisted %}<a href="{% url 'blacklist-driver' citizen.pk %}" class="button btn-md bg-danger text-white mb-0 px-2 mx-2 py-2 mx-2 rounded-2">
                                    Blacklist Driver
                                </a>
                                {% else %}
                             
                                <a href="{% url 'reinstate-driver' citizen.pk %}"  class="button btn-md bg-success text-white mb-0 px-2 mx-2 py-2 mx-2 rounded-2">
                           
                                    Reinstate Driver
                                </a>
                                {% endif %}
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="incident-section">
                    <h2 class="section-title text-dark mb-3 mb-sm-4">Recorded Incidents</h2>
                
                    {% if citizen.incidents %}
                    {% for incident in citizen.incidents.all %}
                        <div class = 'card card-borded border-1 bg-light px-2 mx-2 py-2 my-2'>
                                    <ul class="incident-list">
                                        <li class="incident-item">
                                            <p>
                                                <div class="card-title h3">{{ incident.title }}</div>
                                            </p>
                                            <p class="incident-description">
                                                Comment - {{ incident.comment }}
                                            </p>
                                            <p class="incident-description">
                                                Location - {{ incident.location }}
                                            </p>
                                            <span class="incident-datetime">
                                                Date - {{ incident.created|date:"F j, Y H:i" }}
                                            </span>
                                            <!-- Add any additional incident details or formatting as needed -->
                                        </li>
                                </ul>
                        </div>
                    {% endfor %}
                    {% else %}
                        <p class="no-incidents-message">No incidents to display.</p>
                    {% endif %}
                </div>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock %}