{% extends 'layouts/base.html' %}

{% block body %}
<section class="container bg-white mx-auto m-3 p-3 rounded-2">
<div class="container m-3 p-3 rounded-2">
  <div class="container " >
<div class="row align-items-center bg-light">
          
  <div class="col-md-12 p-3 m-3">
    <span class="h1">System Configurations</span>
      <div class="mb-3 d-flex justify-content-end">
          <a href="{% url 'home' %}" class="btn btn-md btn-primary">Back</a>
      </div>
  </div>
  
  
</div>
    
    <form method="post" class='mx-3' action="{% url 'config-update' config.pk %}" id="incident-form" enctype="multipart/form-data" >
        {% csrf_token %}
        
        {{ form.as_p }}

        <button class="form-control m-2 bg-success" type="submit" >Save</button>
    </form>
  </div>
</section>
{% endblock %}
